 body {
	background: #DEDEDE url(resources/images/backstripe.png);
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
}

#menu {
	width: 1200px;
	background-color: #1B8EE0;
	height: 78px;
	text-align: top;
}

#body {
	width: 1200px;
	background-color: #FAFAFA;
	height: 100%;
	text-align: top;
}

a:link {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #1B8EE0;
	font-size: 17px;
}

a:visited {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #1B8EE0;
	font-size: 17px;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
	font: bold;
	background-color: #FBEC88;
	font-size: 17px;
}

a:active {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #FBEC88;
	font-size: 17px;
}

.linkWithoutBackgroundColor {
	background-color: transparent !important;
}

.rs4table {
	width: 1200px;
	border-collapse: collapse;
	white-space: nowrap;
	table-layout: fixed;
}

.rs4table th {
	border: 1px solid #1B8EE0;
	background-color: #1B8EE0;
	height:20px;
	font-size: 1.0em;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #ffffff;
	white-space: nowrap;
}

.rs4table td {
	border: 1px solid #1B8EE0;
	font-size: 0.9em;
	height:20px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #000000;
	white-space: nowrap;
}

.rs4table.header td {
	background-color: #E3F8FF;
	height:20px;
	font-size: 1.1em;
}

.rs4table.login th {
	background-color: #1B8EE0;
	font-size: 1.1em;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

.rs4table.withMargins {
	font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	width: 1198px;
}

.rs4table.withMargins td {
	font-size: 1.0em;
}

.rs4table.records {
	width: 1200px;
}

.rs4table.records td {
	border: 1px solid #1B8EE0;
}

.rs4table.records tr {
	background-color: #FFFFFF;
}

.rs4table.records tr:hover {
	background-color: #FBEC88;
}

div.ui-datepicker {
	font-size: 10px;
}

#centerdiv {
	position: absolute;
	top: 0;
	left: 50%;
	width: 109em;
	height: 0;
	margin-left: -55.5em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	background-color: #f3f3f3;
}

#errordiv {
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	font-color: #ffffff;
}

.pagetittle {
	font-size: 18px;
	color: blue;
}

.addtransactiontable {
	font-size: 1em;
	margin-left: 100px;
}

.valuetd {
	text-align: center;
}

.errortd {
	font-weight: bold;
	color: red;
}

.spacetd.required {
	text-align: right;
	font-weight: bold;
	color: red;
	font-size: 1em;
}

.menuTable {
	width: 100%;
	height: 30px;
}

.menuTable td {
	border: 1px solid white;
	width: 150px;
	text-align: center;
}

.menuTable td:hover {
	cursor: pointer; 
	background-color: #000000;
}

.logoutButton {
	position: absolute; 
	left: 998px; top: 8px; z-index: 2; 
	width: 129px; height: 24px; 
	cursor: pointer; 
	background-color: #1B8EE0; 
	border: none; 
	color: white; font: bold;
	font-size: 17px;
}

.logoutButton:hover {
  background-color: #000000;
  color: white;
}

.menuDiv {
	position: absolute;
	left: 72px;
	top: 45px;
	z-index: 2;
	width: 1125px;
	padding: 5px;
}

.capsButton {
	width: 115px;
	cursor: pointer;
}

#recordsDiv {
	position: absolute; 
	background-color: #DEDEDE; 
	width: 1215px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	overflow-x: hidden; 
	overflow-y: auto; 
	display:none;
}

#recordsChartDiv {
	position: absolute; 
	background-color: #DEDEDE; 
	width: 1215px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	overflow-x: hidden; 
	overflow-y: auto; 
	display:none;
}

#loadingDiv {
	background-color: white; 
	border: 1px solid #1B8EE0;
	width: 1198px; 
}

#noRecordsDiv {
	background-color: orange; 
	border: 0px solid #1B8EE0;
	width: 1200px; 
}

